html, body {
    margin: 0 0 0 0;
    padding: 0 0 0 0;

    height:100%;  
}

.load {
    padding-left: 10px;
    height:100%;

    background: black;
    font-family: monospace;
}

.load .line {
    color: white;
}

.load .line .ok {
    color: green;
}

.load .line .warn {
    color: orange;
}